extends base

block content 
    h4 Update Video 
    form(method="POST")
        input(placeholder="Video Title", value=video.title, name="title", maxlength=20, required)
        input(placeholder="Description", required, type="text", name="description", maxlength=80, value=video.description)
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save", type="submit") 